

/* initial rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Calibri, Trebuchet MS sans-serif;
}


/* styles */
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	position: relative;
	text-align: center;
}
h1,
h2 {
	font-weight: lighter;
}
#svg-container {
	border: 1px solid lightgray;
	box-sizing: content-box;
	padding: 20px;
	margin-top: 20px;
}
footer {
	margin-top: 20px;
	font-size: 0.8rem;
}

/* graph */
.dot {
	stroke: black;
	opacity: 0.7;
}
.y-axis-label,
label {
	font-size: 0.8rem;
}
#legend {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: end;
	right: 20px;
	top: 110px;
}
#no-allegation {
	background-color: #0A6847;
}
#allegation {
	background-color: #DF2E38;
}
.legend {
	display: inline-block;
	width: 20px;
	height: 20px;
	opacity: 0.8;
}
label {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 2px;
}
#tooltip {
	position: fixed;
	visibility: hidden;
	font-size: 0.8rem;
	background-color: lightblue;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
}

/* on graph load */
.visible {
	visibility: hidden;
}