

/* initial rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Calibri, Trebuchet MS sans-serif;
}


/* styles */
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	text-align: center;
}
h1,
h2 {
	font-weight: lighter;
}
#svg-container {
	border: 1px solid lightgray;
	box-sizing: content-box;
	padding: 20px;
}
footer {
	margin-top: 20px;
	font-size: 0.8rem;
}

/* graph */
.dot {
	stroke: black;
	opacity: 0.7;
}
.y-axis-label {
	font-size: 0.7rem;
}
#legend {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: end;
}
#no-allegation {
	color: green;
}
#allegation {
	color: red;
}